* {
  font-family: cursive;
}

.navbar {
  background-color: gray;
  padding: 10px;
  float: ;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  text-decoration: underline;
  color: white;
}

.navbar-right {
  float: right;
}
