*{
    font-family: cursive;
    
}

.navbar {
    background-color: gray;
    padding: 10px;
    color: black;
    flex-flow: row;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    text-decoration:underline
}