* {
  font-family: cursive;
}

#header {
  background-color: rgba(151, 148, 148, 0.2);
  padding: 15px;
  position: sticky;
  top: 0;
}

#header a {
  text-decoration: none;
  color: black;
  padding: 5px;
  border-radius: 9px;
  /* animation-name: example;
  animation-duration: 3s; */
}

/* @keyframes example {
  from {
    background-color: grey;
  }
  to {
    background-color: white;
  }
} */

#header a:hover {
  text-decoration: underline;
  color: white;
  background-color: rgb(10, 10, 10);
}

#header-right {
  float: right;
}

#footer {
  width: 100%;
  height: 200px;
  background-color: black;
  color: white;
  text-align: center;
  float: left;
}

#footer p {
  padding: 6px;
}

.git-body {
  width: 100%;
  height: 1000px;
  background-color: rgb(230, 227, 227);
  float: left;
}

/* .sidebar {
  width: 10%;
  height: 100%;
  background-color: rgb(230, 227, 227, 0.2);
  text-align: center;
  float: left;
} */

.sidebar a {
  text-decoration: none;
}
